/* header-css-start */

.header {
    padding: 48px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1618px;
    margin: 0 auto;
}
nav {
    max-width: 376px;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* header-css-end */